{% extends 'core/base.html' %} {% block title %}Delete Review{% endblock %} {%
block content %}
<div class="max-w-xl mx-auto p-6">
  <h1 class="mb-6 text-3xl">Delete Review</h1>
  <p>
    Are you sure you want to delete your review for
    <strong>{{ review.item.name }}</strong>?
  </p>
  <form method="post" action=".">
    {% csrf_token %}<button
      type="submit"
      class="mt-6 py-4 px-8 text-lg bg-red-500 hover:bg-red-700 rounded-xl text-white"
    >
      Yes, Delete</button
    ><a
      href="{% url 'item:detail' review.item.id %}"
      class="ml-4 text-lg text-gray-600 hover:underline"
      >Cancel</a
    >
  </form>
</div>
{% endblock %}
