appnope
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
decorator
defusedxml
Django
docopt
executing
fastjsonschema
gunicorn
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
ptyprocess
pure_eval
Pygments
python-dateutil
pyzmq
referencing
requests
rpds-py
six
soupsieve
sqlparse
stack-data
tinycss2
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
yarg
